@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --fontBody: 1rem;
  --fontWeight: 400;
  --fontFamily: "Inter", serif;
  --fontFamilyMono: "Source Code Pro", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fontFamily);
  font-size: var(--fontBody);
  font-weight: var(--fontWeight);
  font-optical-sizing: auto;
  letter-spacing: 0px;
  background-color: rgb(37, 60, 65);
  background-image: linear-gradient(rgb(103, 151, 151), rgb(37, 60, 65));
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

main {
  padding: 48px;
  padding-top: 12px;
}

header {
  color: white;
  padding: 48px;
  background-color: rgb(37, 60, 65);

  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.163);
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 16px;
}

h3 {
  line-height: 1.5;
}

article {
  margin-inline: auto;
  margin-block: 32px;
  flex: 1;
  width: min(100%, 800px);
  padding: 32px;
  border-radius: 12px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.163);
  background-color: white;
}

section {
  margin-block: 16px;
}

nav {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 32px;
  width: min(100%, 800px);
  margin-top: 64px;
}

nav a {
  max-width: 25%;
  flex: 1;
  color: inherit;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 4px;
  border-radius: 12px;
  background-color: rgb(103 151 151 / 0.1);
  &:hover,
  &:focus-visible {
    background-color: rgb(103 151 151 / 0.2);
    border-color: rgb(103, 151, 151);
    outline-offset: 4px;
    outline-color: rgb(103, 151, 151);
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.163);
  }
}

.ql-toolbar.ql-snow {
  border-radius: 3px;
  border-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* Hide Toolbar unles clicked into selection */
/* .ql-toolbar.ql-snow:has(+ .ql-container:not(:focus-within)) {
  visibility: hidden;
} */

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-radius: 3px;
  border: 1px solid #ccc;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.ql-toolbar.ql-snow:has(+ .ql-container:focus-within) {
  border-color: rgb(37, 60, 65);
}

.ql-toolbar.ql-snow + .ql-container.ql-snow:focus-within {
  border-color: rgb(37, 60, 65);
}

.ql-container.ql-bubble {
  border-radius: 3px;
  border: 1px solid #ccc;
  &:focus-within {
    border-color: rgb(37, 60, 65);
  }
}

.input-container {
  width: 100%;
}

pre,
.display {
  padding: 12px;
  background-color: rgb(235, 235, 235);
  border: 1px solid #696969;
  border-radius: 3px;
  overflow: auto;
}

pre {
  font-family: var(--fontFamilyMono);
}
.display {
  p {
    line-height: 1.25;
    min-height: 1.25rem;
    margin: 0;
  }
}
