@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("./quill-styles.css");

:root {
  --fontBody: 1rem;
  --fontWeight: 400;
  --fontFamily: "Inter", serif;
  --fontFamilyMono: "Source Code Pro", serif;

  --lightTealHSL: 180 19% 50%;
  --lightTeal: hsl(var(--lightTealHSL));

  --darkTealHSL: 191 27% 20%;
  --darkTeal: hsl(var(--darkTealHSL));

  --boxShadow: 3px 5px 10px rgba(0, 0, 0, 0.163);

  --spSmall: 8px;
  --spMedium: 16px;
  --spLarge: 32px;
  --spXLarge: 64px;

  --borderRadius: 6px;
  --borderRadiusLarge: 12px;

  --borderColor: hsl(0, 0%, 67%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fontFamily);
  font-size: var(--fontBody);
  font-weight: var(--fontWeight);
  font-optical-sizing: auto;
  background-color: var(--darkTeal);
  background-image: linear-gradient(var(--lightTeal), var(--darkTeal));
}

main {
  padding: var(--spLarge);
  padding-top: var(--spMedium);
}

header {
  color: white;
  padding: var(--spLarge);
  background-color: var(--darkTeal);
  box-shadow: var(--boxShadow);
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

h1,
h2 {
  text-align: center;
  margin-bottom: var(--spMedium);
}

h3 {
  line-height: 1.5;
}

article {
  margin-inline: auto;
  margin-block: var(--spLarge);
  flex: 1;
  width: min(100%, 800px);
  padding: var(--spLarge);
  border-radius: var(--borderRadiusLarge);
  box-shadow: var(--boxShadow);
  background-color: white;
}

section {
  margin-block: var(--spMedium);
}

nav {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: var(--spLarge);
  width: min(100%, 800px);
  margin-top: var(--spXLarge);
}

nav a {
  max-width: 25%;
  flex: 1;
  color: inherit;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-decoration: none;
  border: 1px solid transparent;
  padding: var(--spSmall);
  border-radius: var(--borderRadiusLarge);
  background-color: hsl(var(--lightTealHSL) / 0.1);
  &:hover,
  &:focus-visible {
    background-color: hsl(var(--lightTealHSL) / 0.2);
    border-color: var(--lightTeal);
    outline-offset: 4px;
    outline-color: var(--lightTeal);
    box-shadow: var(--boxShadow);
  }
}

pre,
.display {
  padding: var(--spSmall);
  background-color: hsl(var(--lightTealHSL) / 0.2);
  border-radius: var(--borderRadius);
  overflow: auto;
}

pre {
  font-family: var(--fontFamilyMono);
}
.display {
  p {
    line-height: 1.25;
    min-height: 1.25rem;
    margin: 0;
  }
}
